body{
    background: #A9D0F5; /* fallback for old browsers */
    background: -webkit-linear-gradient(top, #A9D0F5, #8DC26F);
    background: -moz-linear-gradient(top, #A9D0F5, #8DC26F);
    background: -o-linear-gradient(top, #A9D0F5, #8DC26F);
    background: linear-gradient(to bottom, #A9D0F5, #FFFFFF);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}

h1{background-color: aliceblue;  }
.h1{
    background-color: lightblue;position: center;
}
head{
    float:right;position: center;}
.links{
    border: blue;
}
footer{background-color: black;color: white;}
p{border: black;}
ul{list-style: none;}
li{display: inline;}
a:hover{background-color: yellowgreen;}
button{background-color: white;
    color: black;
    border: 2px solid #4CAF50;}
